<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <form class="form" method="post">
              <div id="form-input">
                <div class="form-group">
                  <label for="NameTextField">Title:</label>
                  <input type="text" class="form-control" id="TitleTextField"
                  placeholder="Survey Title" name="title" value="<%= surveys.Title %>" required autofocus>
                </div>
                <div>
                  <label for="NameTextField">Start Date:</label>
                  <input type="date" class="form-control-static" id="StartDate" name="start" required>
                  <label for="NameTextField">Close Date:</label>
                  <input type="date" class="form-control-static" id="FinishDate" name="finish" required>
                  </br></br></br>
                </div>
                <div class="form-group">
                  <label for="QuestionTextField">Question:</label>
                  <input type="text" class="form-control" id="QuestionTextField" 
                  placeholder="Question" name="question" required>
                </div>
              </div>
              <input class="btn btn-primary" type="button" value="Add another text input" onClick="addTextBox();">
              <br/><br/>
              <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
              <a href="/surveys" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
              <br/><br/><br/>
            </form>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>
