<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR HOME -->
    <div class="container text-center">
      <div class="row">
      <br/>
      <h1> Jamie Kennedy's Portfolio!!!!!! </h1>
      <br/><br/><br/><br/><br/>
        <h3> Welcome to everything about Jamie Kennedy </h3>
        <br/><br/>
        <p><img src="../Assets/images/chucknorris.gif" width="387" height="251" alt="norris" /></p>
        <br/><br/><br/><br/>
      </div>
    </div>
<% include ../partials/footer.ejs %>
